#textEditor{
    margin: 0 auto;
    width: 929px;
    height: 300px;
}

#ribbon{
    border-bottom: none;
    padding: 10px;
    background-color: rgb(40, 110, 89);
    color: white;
    border-radius: 8px 8px 0px 0px;
}

#richTextArea{
    border: 2px solid rgb(40, 110, 89)
    height: 100%;
    width: 746px;
}

#wysiwyg{
    width: 925px; 
    height: 450px;
}